body {
  background-color: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-part {
  background-color: #1E6140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-part .navigation-part-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 200;
  background-color: #1E6140;
  height: 30px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-part .navigation-part-inner:nth-child(1) {
  width: 745px;
}

.navigation-part .navigation-part-inner:nth-child(2) {
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 534px;
}

.navigation-part .second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul li {
  padding-left: 50px;
  padding-top: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  cursor: pointer;
}

.second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-part img {
  padding-top: 5px;
  height: 18px;
}

.second-part p {
  padding-left: 5px;
  padding-top: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  cursor: pointer;
}

.background {
  background-image: url(../../img/bck-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo img {
  height: 50px;
}

.first-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.background-main-inner div {
  margin-left: 20px;
}

.backround-inner {
  margin-left: 30px;
}

.input {
  position: relative;
}

.input input {
  margin-top: 6px;
  border-radius: 20px;
  height: 25px;
  width: 200px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: green;
}

.icon-phone {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 2px solid #791b1b;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-phone i {
  color: #791b1b;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-nums-inner {
  margin-left: 5px;
}

.link-phone {
  color: green;
}

a {
  color: green;
}

.rounded-items {
  width: 40px;
  height: 40px;
  border: 2px solid #791b1b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-items:nth-child(1) {
  background-color: #791b1b;
  color: white;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items div {
  margin-left: 10px;
}

.rounded-items:nth-child(2) {
  color: #791b1b;
}

.rounded-items:nth-child(3) {
  color: #791b1b;
}

.last-bck-item {
  margin-top: 8px;
  font-weight: 700;
}

.second-main-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
}

.second-main-inner .second-main-items {
  border-radius: 20px;
  border: 1px solid #1E6140;
  height: 40px;
  width: 200px;
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.second-main-inner .second-main-items img {
  height: 22px;
}

.second-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-main-items:nth-child(1) {
  background-color: #E74E13;
}

.second-main-inners-item:nth-child(1) {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.second-main-inners-item {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-main-inners-item p {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.magazine-inner {
  padding-top: 42px;
}

.magazine-inner img {
  width: 376px;
  height: 347px;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

#magazine {
  margin-top: 50px;
}

.magazine-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://wallpaperaccess.com/full/177136.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 120px;
}

.magazine-main .h2 {
  font-weight: 100;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-button {
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E74E13;
  border-radius: 30px;
  width: 220px;
  height: 47px;
}

.text-button p {
  color: white;
  font-weight: 600;
}

.text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-title img {
  margin-top: 25px;
  width: 25px;
  height: 14px;
}

.text-context {
  margin-top: 10px;
  position: relative;
}

.text-context img, .text-context p {
  margin-left: 0px;
}

.text-button {
  margin-right: 190px !important;
}

#pro-nas {
  margin-top: 60px;
}

.pro-nas {
  width: 900px;
  height: 360px;
  margin: 0 auto;
}

.pro-nas-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pro-nas-inner img {
  width: 510px;
  height: 450px;
}

.text-title {
  font-size: 50px;
}

.text-title img {
  width: 25px;
  height: 14px;
  margin-right: 10px;
}

.text-context {
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 450px;
  padding: 20px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.diff-text {
  color: #1E6140;
}

.title-section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-section p {
  font-size: 45px;
  font-weight: 700;
}

#novinki {
  margin-top: 130px;
}

.novinki-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vector {
  width: 25px;
  height: 18px;
  margin: 18px;
}

.cards {
  height: 350px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards .cards-item {
  height: 340px;
  background-color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-cards {
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-spesific-item {
  background-color: white;
  border: 1px solid white;
  height: 200px;
  width: 160px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-box img {
  width: 70px;
  height: 110px;
}

.desc-box {
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffe9e17c;
  height: 130px;
  border-radius: 20px;
}

.desc-flex {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desc-flex div, .desc-flex p {
  margin-top: 10px;
}

.desc-flex div p {
  color: #84BE51;
  margin-top: 10px;
}

.desc-title {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.rounded img {
  width: 50px;
  height: 50px;
}

.arrows {
  background-color: #E5E5E5 !important;
  cursor: pointer;
  position: relative;
}

.arrows img {
  position: relative;
  width: 60px;
  height: 60px;
  top: 50%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider img {
  height: 20px;
}

.akchie {
  padding-top: 50px;
}

.akchie .akchie-inner {
  background-color: #1E6140;
  padding-bottom: 30px;
}

.second-title-section {
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.second-title-section p {
  color: white;
}

.arrows-last {
  background-color: #1E6140 !important;
}

.rotating {
  -webkit-transform: rotate(80deg) !important;
          transform: rotate(80deg) !important;
}

.text-button {
  margin: 30px auto;
}

.working-btn {
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.partner-inner {
  padding-top: 90px;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-items {
  padding-top: 40px;
}

.slide-items img {
  width: 190vh;
}

.slider-part {
  padding-top: 60px;
}

.farmer-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://image.shutterstock.com/image-photo/harvest-thanksgiving-background-autumnal-fruits-260nw-331602128.jpg);
  min-height: 350px;
}

.farmer {
  padding-top: 50px;
}

.farmer-sect {
  padding-top: 50px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.desc-farmer {
  padding: 20px 50px;
}

.desc-farmer pre {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footers-item {
  height: 300px;
  width: 270px;
}

.footers-item p {
  margin-bottom: 20px;
}

.footers-item img {
  margin-bottom: 20px;
}

footer {
  padding: 90px 70px;
}

.logo-dat {
  height: 50px;
}

.footer-list {
  display: block;
}

.footer-list p {
  margin-top: 20px;
}

.buttob-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.buttob-back img {
  height: 80px;
}

.buttob-back a img {
  height: 80px;
}

.back {
  padding-right: 30px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
