body {
  background-color: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  display: none;
}

.navigation-part {
  background-color: #1E6140;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.navigation-part .navigation-part-inner {
  display: flex;
  color: white;
  font-weight: 200;
  background-color: #1E6140;
  height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}
.navigation-part .navigation-part-inner:nth-child(1) {
  width: 745px;
}
.navigation-part .navigation-part-inner:nth-child(2) {
  padding-right: 30px;
  box-sizing: border-box;
  width: 534px;
}
.navigation-part .second-part {
  display: flex;
  justify-content: start;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
ul li {
  padding-left: 50px;
  padding-top: 2px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  cursor: pointer;
}

.second-part {
  display: flex;
}
.second-part img {
  padding-top: 5px;
  height: 18px;
}
.second-part p {
  padding-left: 5px;
  padding-top: 2px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (width: 375px) {
  .navigation-part-inner:nth-child(1) {
    display: none;
  }
  .navigation-part-inner:nth-child(2) {
    width: 100%;
  }
  .hamburger {
    display: block;
    margin-left: 150px;
    margin-top: 6px;
    color: #32a86d;
  }
  .specify, .input {
    display: none;
  }
  .background-main-inner {
    margin-right: 50px;
  }
  .rounded-items:nth-child(1) {
    display: none;
  }
  .second-main-items {
    display: none !important;
  }
  .nasinyat {
    display: flex !important;
  }
}
.background {
  background-image: url(../../img/bck-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 20px;
  box-sizing: border-box;
}

.logo img {
  height: 50px;
}

.first-main-inner {
  display: flex;
  justify-content: center;
}

.background-main-inner {
  display: flex;
  justify-content: space-around;
}
.background-main-inner div {
  margin-left: 20px;
}

.backround-inner {
  margin-left: 30px;
}

.input {
  position: relative;
}
.input input {
  margin-top: 6px;
  border-radius: 20px;
  height: 25px;
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
}
.input i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: green;
}

.icon-phone {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(121, 27, 27);
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-phone i {
  color: rgb(121, 27, 27);
}

.phones {
  display: flex;
}

.phone-nums-inner {
  margin-left: 5px;
}

.link-phone {
  color: green;
}

a {
  color: green;
}

.rounded-items {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(121, 27, 27);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-items:nth-child(1) {
  background-color: rgb(121, 27, 27);
  color: white;
}

.items {
  display: flex;
}
.items div {
  margin-left: 10px;
}

.rounded-items:nth-child(2) {
  color: rgb(121, 27, 27);
}

.rounded-items:nth-child(3) {
  color: rgb(121, 27, 27);
}

.last-bck-item {
  margin-top: 8px;
  font-weight: 700;
}

.second-main-items {
  display: flex;
  justify-content: center;
}

.second-main-inner {
  display: flex;
  margin-top: 39px;
}
.second-main-inner .second-main-items {
  border-radius: 20px;
  border: 1px solid #1E6140;
  height: 40px;
  width: 200px;
  margin-right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.second-main-inner .second-main-items img {
  height: 22px;
}

.second-main {
  display: flex;
  justify-content: center;
}

.second-main-items:nth-child(1) {
  background-color: #E74E13;
}

.second-main-inners-item:nth-child(1) {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.second-main-inners-item {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-main-inners-item p {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.magazine-inner {
  padding-top: 42px;
}
.magazine-inner img {
  width: 376px;
  height: 347px;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

#magazine {
  margin-top: 50px;
}

.magazine-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://wallpaperaccess.com/full/177136.jpg);
  display: flex;
  justify-content: flex-end;
  gap: 120px;
}
.magazine-main .h2 {
  font-weight: 100;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.text-button {
  transition: 2s;
  cursor: pointer;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E74E13;
  border-radius: 30px;
  width: 220px;
  height: 47px;
}
.text-button p {
  color: white;
  font-weight: 600;
}

.text-title {
  display: flex;
}
.text-title img {
  margin-top: 25px;
  width: 25px;
  height: 14px;
}

.text-context {
  margin-top: 10px;
  position: relative;
}
.text-context img, .text-context p {
  margin-left: 0px;
}

.text-button {
  margin-right: 190px !important;
}

@media only screen and (width: 375px) {
  .magazine-main {
    flex-direction: column;
  }
  .magazine-inner {
    padding: 20px;
    box-sizing: border-box;
  }
  .magazine-inner img {
    width: 306px;
    height: 280px;
  }
  .image-part {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-part img {
    margin-bottom: 120px;
  }
  .text-context {
    width: 300px !important;
  }
  .pro-nas-inner img {
    width: 306px !important;
    height: 280px !important;
  }
}
#pro-nas {
  margin-top: 60px;
}

.pro-nas {
  width: 900px;
  height: 360px;
  margin: 0 auto;
}

.pro-nas-inner {
  display: flex;
  justify-content: space-evenly;
}
.pro-nas-inner img {
  width: 510px;
  height: 450px;
}

.text-title {
  font-size: 50px;
}
.text-title img {
  width: 25px;
  height: 14px;
  margin-right: 10px;
}

.text-context {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 450px;
  padding: 20px;
  padding-left: 40px;
  box-sizing: border-box;
}

.diff-text {
  color: #1E6140;
}

@media only screen and (width: 375px) {
  .pro-nas-inner {
    flex-wrap: wrap;
  }
  .pro-nas-inner .text-title img {
    width: 50px !important;
    height: 50px !important;
  }
  .pro-nas-inner img {
    width: 510px;
    height: 450px;
  }
}
.title-section {
  margin: 0 auto;
  display: flex;
}
.title-section p {
  font-size: 45px;
  font-weight: 700;
}

#novinki {
  margin-top: 130px;
}

.novinki-inner-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector {
  width: 25px;
  height: 18px;
  margin: 18px;
}

.cards {
  height: 350px;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
}
.cards .cards-item {
  height: 340px;
  background-color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-cards {
  padding: 80px;
  box-sizing: border-box;
}

.card-spesific-item {
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: 160px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-box img {
  width: 70px;
  height: 110px;
}

.desc-box {
  padding-top: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 233, 225, 0.4862745098);
  height: 130px;
  border-radius: 20px;
}

.desc-flex {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.desc-flex div, .desc-flex p {
  margin-top: 10px;
}
.desc-flex div p {
  color: #84BE51;
  margin-top: 10px;
}

.desc-title {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.rounded img {
  width: 50px;
  height: 50px;
}

.arrows {
  background-color: #E5E5E5 !important;
  cursor: pointer;
  position: relative;
}
.arrows img {
  position: relative;
  width: 60px;
  height: 60px;
  top: 50%;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider img {
  height: 20px;
}

.akchie {
  padding-top: 50px;
}
.akchie .akchie-inner {
  background-color: #1E6140;
  padding-bottom: 30px;
}

.second-title-section {
  padding-top: 70px;
  box-sizing: border-box;
}
.second-title-section p {
  color: white;
}

.arrows-last {
  background-color: #1E6140 !important;
}

.rotating {
  transform: rotate(80deg) !important;
}

.text-button {
  margin: 30px auto;
}

.working-btn {
  transform: translate(-150%);
}

.partner-inner {
  padding-top: 90px;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-items {
  padding-top: 40px;
}
.slide-items img {
  width: 190vh;
}

.slider-part {
  padding-top: 60px;
}

.farmer-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://image.shutterstock.com/image-photo/harvest-thanksgiving-background-autumnal-fruits-260nw-331602128.jpg);
  min-height: 350px;
}

.farmer {
  padding-top: 50px;
}

.farmer-sect {
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: start;
}

.desc-farmer {
  padding: 20px 50px;
}
.desc-farmer pre {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

@media only screen and (width: 375px) {
  .desc-farmer {
    overflow: hidden;
    padding: 0px;
  }
}
.footer-inner {
  display: flex;
  justify-content: space-evenly;
}

.footers-item {
  height: 300px;
  width: 270px;
}
.footers-item p {
  margin-bottom: 20px;
}
.footers-item img {
  margin-bottom: 20px;
}

footer {
  padding: 90px 70px;
}

.logo-dat {
  height: 50px;
}

.footer-list {
  display: block;
}
.footer-list p {
  margin-top: 20px;
}

.buttob-back {
  display: flex;
  justify-content: end;
}
.buttob-back img {
  height: 80px;
}
.buttob-back a img {
  height: 80px;
}

.back {
  padding-right: 30px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.slider-box {
  min-height: 300px;
  margin-top: 10px;
}

.arrows {
  cursor: pointer;
  background-color: white;
  opacity: 0.8;
  color: black;
  display: inline-block;
}

.slider-box-inner div {
  width: 100%;
  min-height: 400px;
}
.slider-box-inner div img {
  height: 550px;
}

.slider-buttons {
  display: flex;
  justify-content: space-evenly;
}
.slider-buttons button {
  background-color: rgb(254, 254, 211);
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
  width: 120px;
}
.slider-buttons button:active {
  background-color: rgb(255, 255, 183);
}

@media only screen and (width: 375px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 414px) {
  .slider-text-inner {
    width: 400px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 390px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 393px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 360px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 412px) {
  .slider-text-inner {
    width: 400px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 540px) {
  .slider-text-inner {
    width: 400px;
    position: absolute;
    top: 40px;
    left: 70px;
  }
  .slider-text-inner p {
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    text-align: center;
    font-size: 45px;
  }
}
@media only screen and (width: 820px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 100px;
    right: -10px;
  }
}
@media only screen and (width: 768px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 100px;
    right: -10px;
  }
}
@media only screen and (width: 280px) {
  .slider-text-inner {
    box-sizing: border-box;
    width: 250px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .slider-text-inner p {
    color: white;
    font-size: 15px;
    text-transform: lowercase;
  }
  .slider-text-inner h3 {
    font-size: 45px;
  }
}
@media only screen and (width: 912px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 100px;
    right: 0px;
  }
}
@media only screen and (width: 720px) {
  .slider-text-inner {
    width: 350px;
    position: absolute;
    top: 100px;
    right: 50px;
  }
}