* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-part .navigation-part-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 200;
  background-color: #1E6140;
  height: 30px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-part .navigation-part-inner:nth-child(1) {
  width: 745px;
}

.navigation-part .navigation-part-inner:nth-child(2) {
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 534px;
}

.navigation-part .second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul li {
  padding-left: 50px;
  padding-top: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  cursor: pointer;
}

.second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-part img {
  padding-top: 5px;
  height: 18px;
}

.second-part p {
  padding-left: 5px;
  padding-top: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  cursor: pointer;
}

.background {
  background-image: url(../../img/bck-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo img {
  height: 50px;
}

.first-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.backround-inner {
  margin-left: 30px;
}

.input {
  position: relative;
}

.input input {
  margin-top: 6px;
  border-radius: 20px;
  height: 25px;
  width: 200px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: green;
}

.icon-phone {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 2px solid #791b1b;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-phone i {
  color: #791b1b;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-nums-inner {
  margin-left: 5px;
}

.link-phone {
  color: green;
}

a {
  color: green;
}

.rounded-items {
  width: 40px;
  height: 40px;
  border: 2px solid #791b1b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-items:nth-child(1) {
  background-color: #791b1b;
  color: white;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items div {
  margin-left: 10px;
}

.rounded-items:nth-child(2) {
  color: #791b1b;
}

.rounded-items:nth-child(3) {
  color: #791b1b;
}

.last-bck-item {
  margin-top: 8px;
  font-weight: 700;
}

.second-main-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
}

.second-main-inner .second-main-items {
  border-radius: 20px;
  border: 1px solid #1E6140;
  height: 40px;
  width: 200px;
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.second-main-inner .second-main-items img {
  height: 22px;
}

.second-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-main-items:nth-child(1) {
  background-color: #E74E13;
}
