.background{
    background-image: url(../../img/bck-image.png);
   background-size: cover;
    background-repeat: no-repeat;
    padding-left: 50px;
     padding-top: 20px;
    box-sizing: border-box;
   
}
.logo{
   img{
        height: 50px;
   
   }
}
.first-main-inner{
    display: flex;
    justify-content: center;
}
.background-main-inner{
    display: flex;
    justify-content: space-around;
    
}
.backround-inner{
    margin-left: 30px;
}
.input{
      position: relative;
    input{
        margin-top: 6px;
        border-radius: 20px;
        height: 25px;
        width: 200px;
        padding: 5px;
        box-sizing: border-box;
      
    }
    i{
        position: absolute;
        right: 10px;
        top: 10px;
       color: green;
           
    }

}
.icon-phone{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(121, 27, 27);
    border-radius: 50%;
    background-color: white;
    i{
        color: rgb(121, 27, 27);
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
.phones{
    display: flex;
    
}
.phone-nums-inner{
    margin-left: 5px;
}
.link-phone{
    color: green;
}
a{
   
    color: green;
}
.rounded-items{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(121, 27, 27);
    border-radius: 50%;
    display: flex;
    justify-content: center;
   
    align-items: center;
}
.rounded-items:nth-child(1){
    background-color: rgb(121, 27, 27);
    color: white;
}
.items{
    display: flex;
    div{
        margin-left: 10px;
    }
}

.rounded-items:nth-child(2){
    color: rgb(121, 27, 27);
}
.rounded-items:nth-child(3){
    color: rgb(121, 27, 27);
}
.last-bck-item{
    margin-top: 8px;
    font-weight: 700;
}
.second-main-items{
    display: flex;
    justify-content: center;
}
.second-main-inner{
    display: flex;
    margin-top: 39px;
    .second-main-items{
        border-radius: 20px;
        border: 1px solid #1E6140;
        height: 40px;
        width: 200px;
        margin-right: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
cursor: pointer;
 img{
        height: 22px;
    }
        
    }
}
.second-main{
    display: flex;
    justify-content: center;
}
.second-main-items:nth-child(1){
    background-color: #E74E13;
   
}