.magazine-inner{
   
   
    padding-top: 42px;
   
    img{
        width: 376px;
height: 347px;
border-top-left-radius:90px ;
border-bottom-right-radius:90px ;
    }
}
.magazine-main{
    display: flex;
    justify-content: flex-end;
  gap: 120px;
.h2{
      font-weight: 100;
    font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E74E13;
    border-radius: 30px;
    width: 220px;
    height: 47px;
    p{
        color: white;
        font-weight: 600;
    }
}
.text-title{
 
    display: flex;
    img{
        margin-top: 25px;
        width: 25px;
        height: 14px;
    }
}
.text-context{
    margin-top: 10px;
    position: relative;
    img,p{
     
    margin-left: 30px;
    }
}
.text-button{
    margin-left: 30px
}