*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation-part{
     background-color: #1E6140;
    display: flex;
    justify-content: space-between;
   
  
    box-sizing: border-box;
   
    .navigation-part-inner{
        display: flex;
        color: white;
        font-weight: 200;
         background-color: #1E6140;
        height: 30px;
        
        padding-left: 30px;
        box-sizing: border-box;

    

}
.navigation-part-inner:nth-child(1){
    width: 745px;
}
.navigation-part-inner:nth-child(2){
      padding-right: 30px;
       box-sizing: border-box;
       width: 534px;

}
.second-part{
    display: flex;
  justify-content: start;
}
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    li{
        padding-left: 50px;
        padding-top: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        cursor: pointer;
       
    }
}
.second-part{
    display: flex;
    img{
        padding-top: 5px;

        height: 18px;
    }
    p{
        padding-left: 5px;
          padding-top: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        cursor: pointer;
    }
}
