.title-section{
    margin: 0 auto;
   
    display: flex;
    p{
      
        font-size: 45px;
        font-weight: 700;
    }
}
#novinki{
    margin-top: 130px;
}
.novinki-inner-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vector{
    width: 25px;
    height: 18px;
    margin: 18px;
}
.cards{
   // background-color: red;
    height: 350px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    .cards-item{
        height: 340px;
       background-color: white;
     //  border: 1px solid black;
       border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
        
    }
}
.main-cards{
    padding: 80px;
    box-sizing: border-box;
}
.card-spesific-item{
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    height: 200px;
    width: 160px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-box{
   display: flex;
   justify-content: center;
   align-items: center;
   
    img{
        width: 70px;
        height: 110px;
    }
}
.desc-box{
    padding-top: 5px;
    box-sizing: border-box;
    
    background-color: #ffe9e17c;
    height: 130px;
    border-radius: 20px;
}
.desc-flex{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    div,p{
        margin-top: 10px;
    }
    div{
        p{
        color: #84BE51;
        margin-top: 10px;
    }
    }
}
.desc-title{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.rounded{
    img{
        width: 50px;
        height: 50px;
    }
}
.arrows{
    background-color: #E5E5E5 !important;
    cursor: pointer;
    position: relative;
    img{
        position: relative;
        width: 60px;
        height: 60px;
        top: 50%;
    }
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 20px;
    }
}
.akchie{
   padding-top: 50px;
   .akchie-inner{
 background-color: #1E6140;
 padding-bottom: 30px;
   }
  
}
.second-title-section{
    padding-top: 70px;
    box-sizing: border-box;
    p{
        
        color: white;
    }
}
.arrows-last{
    background-color: #1E6140 !important;
}
.rotating{
    transform: rotate(80deg) !important;
}
.text-button{
   margin: 30px auto;
}
.working-btn{
    transform: translate(-150%);
}
@media only screen and (width: 375px) {
  
//         .novinki-inner-item{
//         background-color: #E5E5E5;
//     }
//     .main-cards{
//         background-color: #E5E5E5;
//     }
// .arrows{
//     display: none;
// }
//     .cards{
//         flex-wrap: wrap;
//     }
  
  
}