.partner-inner{
    padding-top: 90px;
}
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-items{
    padding-top: 40px;
    img{
        width: 190vh;
    }
}
.slider-part{
    padding-top: 60px;
}